node_modules/
dist/
.env
*.log
coverage/
*.tsbuildinfo
.DS_Store

# Docker local volumes (created on first docker compose up)
docker/volumes/pg_data/*
!docker/volumes/pg_data/.gitkeep
docker/volumes/redis_data/*
!docker/volumes/redis_data/.gitkeep
docker/volumes/pgadmin_data/*
!docker/volumes/pgadmin_data/.gitkeep
docker/volumes/redisinsight_data/*
!docker/volumes/redisinsight_data/.gitkeep
