<div class="web-main">
  <header class="web-header">
    <div class="web-header__project">
      <div class="web-header__project-logo">
        <img src="./../../../../../../assets/images/icons/logo.icon.png" />
      </div>

      <div class="web-header__project-name">нормисы</div>
    </div>

    <nav class="web-header__nav">
      @for (item of navItems; track $index) {
        @if (item.kind === 'link') {
          <a [routerLink]="item.path" routerLinkActive="active">{{ item.label }}</a>
        } @else if (item.kind === 'button') {
          <button class="web-header__nav-theme" (click)="item.onClick()">
            <img [src]="item.imgSrc" [alt]="item.imgAlt" />
          </button>
        }
      }
    </nav>
  </header>

  <main class="web-main">
    <router-outlet />
  </main>

  <footer class="web-footer">web-main__footer</footer>
</div>
