.web-main {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .web-header {
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__project {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;

      &-logo {
        width: 32px;
        height: 32px;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      &-name {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -0.5px;
        color: #1a1a1a;
      }
    }

    &__nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 32px;

      a {
        color: #8e8e93;
        text-decoration: none;
        border-bottom: 1px solid #fff;

        &:hover {
          border-bottom: 1px solid #1a1a1a;
        }
      }

      button {
        border: none;
        border-bottom: 1px solid #fff;
        background-color: inherit;
        width: fit-content;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
          border-bottom: 1px solid #1a1a1a;
        }
      }
    }
  }

  .web-main {
    flex: 1 1 auto;
  }

  .web-footer {
  }
}
