<div class="web-welcome">
  12345
  <!-- <div class="web-welcome__badge">
    <img src="./../../../../../../assets/images/icons/shield-success.svg" alt="Значок щита" />

    Закрытая регистрация по инвайтам
  </div>

  <h1>Пространство для своих</h1>
  <p>Без телефона и email. Без слежки. Только те, кому доверяешь.</p>

  <div class="download-buttons">
    <a href="#" class="btn btn-dark">App Store</a>
    <a href="#" class="btn btn-dark">Android</a>
    <a href="#" class="btn btn-light">Windows</a>
    <a href="#" class="btn btn-light">macOS</a>
    <a href="#" class="btn btn-light">Linux</a>
  </div>
  -->
</div>
