<div class="web-about">
  <div class="promo">
    <shared-badge [iconType]="badgeTypeIcons.INFO">
      О проекте
    </shared-badge>

    <h1 class="promo__title">Нормисы — это свои</h1>

    <p class="promo__description">
      Нормис: это тот, кто устал от слежки и хочет общаться только с теми, кому доверяет.
    </p>
  </div>

  <div class="features">
    @for (feature of features; track $index) {
      <div class="features__card">
        <img class="features__card-icon" [src]="feature.imgSrc" [alt]="feature.imgAlt" />
        <span class="features__card-title">{{ feature.title }}</span>
        <p class="features__card-description">{{ feature.description }}</p>
      </div>
    }
  </div>
</div>
